.holeContainer {
    padding: 30px 150px 30px 150px;
}

.bordered {
    border-radius: 20px;
}

.borderedLeft {
    border-radius: 20px 0 0 20px;
}

.borderedRight {
    border-radius: 0 20px 20px 0;
}

.tabs .tab a {
    color: #fff !important;
    /*Custom Text Color*/
}

.tabs .tab a:hover {
    color: #fff !important;
    /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
    color: #fff !important;
    /*Custom Text Color While Active*/
    background-color: rgb(12, 65, 163) !important;
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: #fff !important;
    /*Custom Color Of Indicator*/
}


/*Diseño de los botones*/
.alignButtonMenu>a,.segundo {
    width: 33%;
}

.primero {
    width: 33%;
    border-radius: 50px 0 0 50px !important;
}

.tercero {
    width: 33%;
    border-radius: 0px 50px 50px 0px;
}

/*Diseño de las tablas*/

.boxForm{
    padding: 30px;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #fff !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }